.font-lg{
    font-size: 13px;
}

.fondo-istg{
    background-color: #3f4bb9;
}

.texto-istg-1 {
    color: rgba(0, 0, 214, 0.782);
}

.texto-istg-2 {
    color: rgb(107, 255, 240);
}

.buton-istg {
    color: white;
    background-color: #3f4bb9;
    border: #3f4bb9 1px solid;
}

.buton-istg:focus{
    background-color: #3f4bb9;
}

.buton-istg:hover,
.buton-istg:active {
    background-color: #3f4bb9eb;
    color: white; /* Asegurarse de que el color del texto sea blanco también en el estado activo */
}


.img-icons-p {
    height: 25px;
    width: 25px;
}

.img-icons-m {
    height: 50px;
    width: 50px;
}

.card-bg{
    background-color: rgba(215, 215, 215, 0.417);
    border: 1px solid rgba(112, 110, 110, 0.331);
}