
li a {
    color: #fff;
    text-decoration: none;
}

li a:hover {
    color: #fff;
    text-decoration: none;
}

/* Reset de estilos y estilos generales */
body,
ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
    align-items: center;
}

.navbar a {
    display: flex;
    align-items: center;
    /* Alineación vertical de íconos y texto */
    color: white;
    text-decoration: none;
}

.Perfildropdown-toggle {
    background-color: transparent;
    color: white;
    border-color: transparent;
    width: 40px;
}


.dropdown a {
    color: #000;
    text-decoration: none;
}

.dropdown li {
    display: flex;
    align-items: center;
    /* Alineación vertical de íconos y texto */
    position: relative;
}

.dropdown a:hover {
    background-color: transparent;
    color: #fff;
}

.dropdown li:hover {
    color: #fff;
    background-color: #212974;
}

.toggle-button {
    display: flex;
    align-items: center;
    background-color: transparent;
    color: white;
    border-color: transparent;
}

.sidebar-hidden {
    transform: translateX(-100%);
    transition: transform 0.3s ease;
}

.content {
    margin-left: 0;
    /* Asegura que el contenido principal esté a la izquierda del sidebar abierto */
    padding: 20px;
    transition: margin-left 0.3s ease;
}

.sidebar-hidden .content {
    margin-left: 0;
    /* Espacio extra en el contenido cuando el sidebar está oculto */
}

/* Estilos del sidebar */
.sidebar {
    width: 200px;
    height: 100%;
    background-color: #3f4bb9;
    color: white;
    position: fixed;
}

.sidebar ul {
    padding-top: 20px;
}

.sidebar li {
    display: flex;
    align-items: center;
    /* Alineación vertical de íconos y texto */
    padding: 15px;
    position: relative;
}


.expandable a {
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
}

.expandable .submenu {
    display: none;
    position: absolute;
    left: 100%;
    background-color: #fff;
    width: 200px;
    border: #5b595988 solid 1px;
}

.expandable .submenu a {
    display: block;
    color: #000;
}

.expandable.active .submenu {
    display: block;
}
.img-icono-login{
    width: 150px;
    height: 150px;
}

img {
    width: 250px;
    margin: 10px;
}

.span-inicio {
    size: 20px;
}

.submenu {
    margin-left: 15px;
    background-color: #3f4bb9;
    
}


/* Flecha estilo Font Awesome */
.expandable a::after {
    transition: all 0.3s ease 0s;
    background-color: #212974;
    /* Mueve la flecha hacia la derecha */
    font-weight: bold;
    font-size: 10px;
}


/* Estilos del contenido principal */
.content {
    margin-left: 250px;
    padding: 20px;
}

/* Cambio de color en elementos del menú principal */
.sidebar li:hover {
    background-color: #212974;
}

.submenu a:hover {
    color: #fff;
    background-color: transparent;
}

.submenu li:hover {
    color: #fff;
    background-color: #2c308c;
}

