*{
    margin: 0px;
    padding: 0px;
}

.contenedor{
    padding: 25px 200px;
}
table{
    border: 2px solid  black;
    border-collapse: collapse;
}

ul{
    margin-left:50px;
}
.fondo_table_titulo{
    background-color: rgba(138, 138, 254, 0.665);
    color: black;

}

.fondo_table_padre{
    background-color: rgba(138, 138, 254, 0.315);
}



.letra-tablas-default{
    font-size: 13px;
}
.letras-chicas{
    font-size: 10px;
}

.text-center{
    text-align: center;
}
.rotated-text {
    transform: rotate(-90deg); /* Cambia el ángulo de rotación según necesites */
  }
  
.text-derecha{
    text-align: left;
}
.text-izquierda{
    text-align: right;
}

.text-negita{
    font-weight: bold;  
}

.spacion-derecha{
    margin-left: 12px;
}
.m-25{
    padding: 15px;
}

.p-25{
    padding: 35px;
}
.p-b-t{
    padding: 20px 10px;
}

.p-b-t-50{
    padding: 50px;
}